## Conexión de MySQL desde Python

In [ ]:
!pip install mysql-connector-python

In [ ]:
## Cargamos librerías
import mysql.connector

In [ ]:
## Conexion con el servidor
conexion = mysql.connector.connect(
    user = 'root',
    password = '', ## Añadir password
    host = 'localhost',
)

## Creamos un cursor
cursor = conexion.cursor()

In [ ]:
## Explorar las bases de datos del servidor MySQL

cursor.execute("SHOW DATABASES")
for bd in cursor:
    print(bd)

## Crear bases de datos MySQL desde Python

In [ ]:
#conexion con el servidor
conexion = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "", ## Añadir password propia
)

#creación del cursor
cursor = conexion.cursor()

#creación de nueva base de datos
cursor.execute("CREATE DATABASE prueba_final;")

In [ ]:
try:
    cursor.execute("CREATE DATABASE pruebas;")
    print("Se creó correctamente la base de datos.")
except:
    print("Ocurrió un error al crear la base de datos. Inténtelo de nuevo.")

## Eliminar base de datos

In [ ]:
#eliminación de base de datos
try:
    cursor.execute("DROP DATABASE pruebas;")
    print("Se eliminó correctamente la base de datos.")
except:
    print("Ocurrió un error al intentar eliminar la base de datos. Verifica tu instrucción.")

## Crear tabla en base de datos

In [ ]:
#conexion con la base de datos
conexion = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "", ## Añadir password propia
    database = "prueba_final"
)

#creación del cursor
cursor = conexion.cursor()

#creación de una tabla
try:
    cursor.execute("CREATE TABLE clientes"
    "(id INT NOT NULL AUTO_INCREMENT,"
    "nombre VARCHAR (32) NOT NULL,"
    "apellidos VARCHAR (64) NOT NULL,"
    "telefono VARCHAR (9) NOT NULL,"
    "direccion VARCHAR (256), "
    "PRIMARY KEY (id));")
    print("Se creó correctamente la tabla.")
except:
    print("Ocurrió un error al intentar crear la tabla. Inténtelo de nuevo.")

Se creó correctamente la tabla.

In [ ]:
import pandas as pd

df = pd.read_csv('df_prueba.csv')
df

   id   nombre  apellidos   telefono direccion
0   1  antonio     arroyo  111111111   calle a
1   2   benito    buendia  222222222   calle b
2   3   carlos    cordoba  333333333   calle c
3   4   daniel  dominguez  444444444   calle d
4   5  enrique   enriquez  555555555   calle e

In [ ]:
#conexion con la base de datos
conexion = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "", ## Añadir password
    database = "prueba_final"
)

#creación de una tabla
try:
    for i in range(0, df.shape[0]):
        id_ = df.loc[i,'id']
        nombre = df.loc[i,'nombre']
        apellidos = df.loc[i,'apellidos']
        telefono = df.loc[i,'telefono']
        direccion = df.loc[i,'direccion']
        query = "INSERT INTO clientes(id, nombre, apellidos, telefono, direccion) values(" + str(id_) + ",'" + nombre + "','" + apellidos + "','" + str(telefono) + "','" + direccion + "');"
        cursor = conexion.cursor()
        cursor.execute(query)
        conexion.commit()
        print("Se ingresó correctamente el registro:", i)
        cursor.close()
except:
    print("Ocurrió un error al intentar ingresar el registro. Inténtelo de nuevo.")

Se ingresó correctamente el registro: 0
Se ingresó correctamente el registro: 1
Se ingresó correctamente el registro: 2
Se ingresó correctamente el registro: 3
Se ingresó correctamente el registro: 4